@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'DM Sans', sans-serif;
	vertical-align: baseline;
}





body{
  background-color: hsl(27, 66%, 92%);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 16px;
}


.header{
  display: flex;
  background-color: hsl(10, 79%, 65%);
  border-radius: 16px;
  width: 20%;
  height: 8%;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-width: 325px;
}

.span-header{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-header{
  font: 400;
}

.price-header{
  font: 700;
  font-size: 30px;
}

.main{
  display: flex;
  background-color: #fff;
  border-radius: 16px;
  width: 20%;
  height: 45%;
  color: hsl(25, 47%, 15%);
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex-direction: column;
  min-width: 325px;
}

.title{
  font: 700;
  font-size: 30px;
}


.months-price{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 60%;
  color: hsl(28, 10%, 53%);
}

.months{
  display: flex;
  flex-direction: column;
  text-align: center;
}





.footer-main{
  border-top: 1px solid hsl(28, 10%, 53%);
  display: flex;
  width: 100%;
  height: 15%;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: center;
  gap: 10px;
}

.title-footer{
  color: hsl(28, 10%, 53%);
  font: 400;
}

.div-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-footer{
  font: 700;
  font-size: 30px;
}

.container-footer-costs{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.month-porcent{
  color: hsl(28, 10%, 53%);
}











.mon{
  background-color: hsl(10, 79%, 65%);
  height: 60px;
  width: 30px;
  border-radius: 4px;
}

.tue{
  background-color: hsl(10, 79%, 65%);
  height: 120px;
  width: 30px;
  border-radius: 4px;
}

.wed{
  background-color: hsl(186, 34%, 60%);
  height: 180px;
  width: 30px;
  border-radius: 4px;
}

.thu{
  background-color: hsl(10, 79%, 65%);
  height: 90px;
  width: 30px;
  border-radius: 4px;
}


.fri{
  background-color: hsl(10, 79%, 65%);
  height: 67px;
  width: 30px;
  border-radius: 4px;
}


.sat{
  background-color: hsl(10, 79%, 65%);
  height: 160px;
  width: 30px;
  border-radius: 4px;
}





.sun{
  background-color: hsl(10, 79%, 65%);
  height: 70px;
  width: 30px;
  border-radius: 4px;;
}




.prices-graph:hover{
  opacity: 0.5;
}


.itens{
  display: block;
  position: absolute;
}

.space{
  display: block;
  height: 20px;
}


.prices-graph::after{
  content: <a href="#"> alo </a>;
  position: absolute;
  height: 50px;
  border-radius: 4px;

}

.prices-graph:active::before{
  display: none;
}